/* Register.css */

.registerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin-left: 200%;
}

.registerContents {
  min-width: 150%;
  max-width: 150%;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.registerContent-one {
  text-align: center;
}

.registerTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.registerInputs {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registerError {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.registerSubmit-btn {
  background-color: #f09308;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.registerSubmit-btn:hover {
  background-color: #f07308;
  transition: all 0.3s ease-in-out;
}

.registerLogin {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #f09308;
  font-weight: bold;
}

.registerLogin:hover {
  color: #f07308;
  transition: all 0.3s ease-in-out;
}

/* Media Queries for Responsiveness */

@media (max-width: 1200px) {
  .registerWrapper {
    margin-left: 150%;
  }
}

@media (max-width: 940px) {
  .registerWrapper {
    margin-left: 100%;
  }
}
@media (max-width: 768px) {
  .registerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin-left: 0;
  }

  .registerTitle {
    font-size: 20px;
  }

  .registerInputs {
    padding: 10px;
  }

  .registerSubmit-btn {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .registerInputs {
    padding: 8px;
  }

  .registerSubmit-btn {
    padding: 8px;
  }
}

@media (max-width: 375px) {
  .registerContents {
    min-width: 100%;
    max-width: 100%;
  }
}
