.registerWrapper {
  width: 100vw;
  margin: 70px auto;
  height: 75vh;
}
.registerContents {
  margin: 70px 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.registerContent-one,
.registerContent-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registerTitle {
  color: #555;
}
.registerForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.registerInputs,
.registerSubmit-btn {
  padding: 15px 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
  border-radius: 4px;
  outline: 0;
}
.registerInputs:hover,
.registerSubmit-btn:hover {
  border-bottom: 3px solid #f09308;
  transition: all 0.5s;
}
.registerSubmit-btn {
  font-weight: 900;
  color: #f09308;
  cursor: pointer;
}
.registerLogin {
  color: #f09308;
  text-align: center;
}
.registerTitle-details{
    color: #555;
}
@media (max-width: 940px) {
  .registerContents {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .registerWrapper{
    margin: 20px auto;
  }
  .registerContents {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .registerTitle{
    color: #ccc;
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .registerWrapper{
    margin-left: -15px;
  }
}
