.customerFeedback-wrapper {
  margin: 40px auto;
}
.customerFeedback-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 20px;
}
.customerFeedback-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px #f09308;
  margin: 20px 10px;
  height: 250px;
  width: 320px;
  padding: 10px 40px;
  background-color: #fff;
  border-radius: 4px;
}
.customerFeedback-content:hover {
  margin-top: 10px;
  transition: all 0.3s;
}
.customerFeedback-img {
  box-shadow: 1px 1px 10px #ccc;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 5px 0;
}
.customerFeedback-feedback {
  margin: 5px 0;
  color: #ccc;
  font-size: 14px;
  text-align: center;
}
.customerFeedback-name {
  margin: 5px 0;
  color: #f09308;
  font-weight: 600;
}
@media screen and (max-width: 940px) {
  .customerFeedback-content {
    width: 250px;
  }
}
@media screen and (max-width: 800px) {
  .customerFeedback-content {
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .customerFeedback-content {
    width: 225px;
    margin: 20px 30px;
  }
}
@media screen and (max-width: 600px) {
  .customerFeedback-contents {
  grid-template-columns: 1fr;
}
}