.headerWrapper {
  height: 10vh;
  background-color: #fff;
  position: sticky;
  left: 0;
  padding: 15px 20px;
  font-weight: 700;
  top: 0;
  color: #f09308;
  box-shadow: 1px 1px 1px #f09308;
  width: 100%;
}
.headerNav {
  display: flex;
  align-items: center;
}
.headerLogo-div {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.headerLogo-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f09308;
}
.headerLogo {
  font-size: 28px;
}
.headerLogo-text {
  font-size: 20px;
}
.headerNav-flex {
  display: flex;
  align-items: center;
}
.headerNav-links {
  font-size: 20px;
  margin: 0 10px;
  list-style: none;
  color: #f09308;
}
.headerNav-links:hover {
  border-bottom: 4px solid #f09308;
  transition: 0.3s;
}
.headerLink{
  color: #f2f2f2;
  cursor: pointer;
}
.headerNav-links_flex{
  display: flex;
  align-items: center;
}
.headerHome-links{
  cursor: pointer;
}
.headerSwitch{
  margin: 3px;
  background-color: #f09308;
  color: #f2f2f2;
  font-size: 12px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  text-align: center;
}
.headerHome-links {
  color: #f09308;
  text-decoration: none;
}
.headerServices-lists, .headerAbout-us_lists{
  background-color: #555;
  width: fit-content;
  height: fit-content;
  position: absolute;
  padding: 5px 15px;
  border-radius: 4px;
  min-width: 150px;
  min-height: 220px;
  max-width: 170px;
  text-align: center;
  margin-top: 10px;
  padding-top: 30px;
  animation: headerAnims 1s;
}
@keyframes headerAnims {
  0%{
    margin-top: 20px;
    opacity: 0;
  }
  100%{
    margin-top: 10px;
    opacity: 1;
  }
}
.headerServices-list, .headerAbout-us_list{
  font-size: 16px;
  margin: 10px 0;
  color: #f2f2f2;
  line-height: 25px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headerServices-list:hover, .headerAbout-us_list:hover{
  border-bottom: 2px solid #f09308;
  transition: all 0.3s;
}
.headerServices-lists_title, .headerAbout-lists_title{
  color: #f09308;
}
.headerCart-flex_row{
  display: flex;
  align-items: flex-end;
}
.headerCart{
  color: #f09308;
  font-size: 13px;
  margin-right: 1px;
  border: 1px solid #f09308;
  padding: 1px;
  border-radius: 50%;
  background-color: #555;
}
.headerLink {
  color: #f09308;
  text-decoration: none;
}
.headerMenu-icon_div {
  display: none;
}
.headerMenu-icon {
  width: 35px !important;
  height: 35px !important;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .headerNav-flex {
    display: none;
  }
  .headerMenu-icon_div {
    display: block;
  }
  .menuIcon {
    display: block;
  }
}
