/* Login.css */

.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:80vh;
  margin-left:175%;
}

.loginContents {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 150%;
  max-width: 150%;
}

.loginTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #f09308;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginInputs {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginError {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.loginSubmit-btn {
  background-color: #f09308;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginSubmit-btn:hover {
  background-color: #d97706;
}

.loginRegister-and_password {
  color: #f09308;
  text-decoration: none;
  transition: color 0.3s ease;
}

.loginRegister-and_password:hover {
  color: #d97706;
}

/* Media Queries */


@media (max-width: 1200px) {
  .loginWrapper{
  margin-left: 100%;
  }
}

@media (max-width: 940px) {
  .loginWrapper{
  margin-left: 70%;
  }
}
@media (max-width: 768px) {
  
.loginWrapper {
  margin-left: 0;
}
}
@media (max-width: 480px) {
  .loginContents {
    min-width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 319px) {
  .loginWrapper{
  margin-left: -10px;
  }
}
