.perculiarService-wrapper{
    min-height: 75vh;
    max-width: 70vw;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
}
.perculiarService-contents{
    background-color: #555;
    height: 60vh;
    border-radius: 4px;
}
.perculiarService-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.perculiarService-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.perculiarService-service, .perculiarService-contact_title{
    color: #f09308;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.perculiarService-greetings, .perculiarService-details{
    font-size: 16px;
    color: #fff;
    padding-top: 20px;
}
.perculiarService-details{
    color: #f2f2f2;
    font-size: 14px;
}
.perculiarService-contact{
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.perculiarService-whatsapp_img{
    width: 50px;
    height: 30px;
    margin: 5px;
    animation: whatsappImg 3s infinite;
}
@keyframes whatsappImg {
    0%{
        margin-left: -10px;
    }
    100%{
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    .perculiarService-wrapper{
        min-height: 80vh;
        max-width: 70vw;
        padding: 20px;
        margin-left: 0;
        margin: 50px auto;
    }
}
@media (max-width: 480px) {
 .perculiarService-contents{
        background-color: #323232;
}
}
@media (max-width: 375px) {
    .perculiarService-wrapper{
        max-width: 100vw;
        margin: 50px 5px;
        border-radius: 2px;
    }
}