.meetOur-md_wrapper {
  margin: 0 auto;
  min-height: 75vh;
  padding: 100px 100px;
}
.meetOur-md_content {
  display: flex;
  align-items: center;
}
.meetOur-md_pix {
  width: 270px;
  height: 250px;
  border-radius: 7px;
}
.meetOur-md_speech {
  width: 60%;
  color: #555;
  margin: 0 40px;
}
.meetOur-md_speechTitle {
  margin-bottom: 10px;
}
.meetOur-md_speechDetails {
  margin-bottom: 10px;
}
.meetOur-md_name {
  color: #f09308;
  font-size: 16px;
  margin-left: 50px;
}
@media (max-width: 1100px) {
  .meetOur-md_wrapper {
    padding: 100px 50px;
  }
  .meetOur-md_pix {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 940px) {
  .meetOur-md_wrapper {
    height: 120vh;
  }
  .meetOur-md_content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .meetOur-md_name {
    margin-left: 160px;
  }
  .meetOur-md_speech {
    margin-top: 50px;
  }
}
@media (max-width: 860px) {
  .meetOur-md_wrapper {
    margin: 50px 0;
  }
  .meetOur-md_speechTitle {
    font-size: 18px;
  }
  .meetOur-md_name {
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  .meetOur-md_wrapper {
    width: 150%;
    margin: 0px auto;
    height: 130vh;
  }
  .meetOur-md_name {
    margin-left: 10px;
  }
}
@media (max-width: 620px) {
  .meetOur-md_speech{
    color: #ccc;
  }
  .meetOur-md_speechTitle{
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .meetOur-md_wrapper {
    height: 140vh;
  }
}
@media (max-width: 440px) {
  .meetOur-md_speechDetails {
    width: 130%;
    margin-left: -10px;
  }
}
@media (max-width: 320px) {
  .meetOur-md_content {
    margin-left: -17px;
  }
}
