.changePassword-wrapper {
  min-height: 65vh;
  margin: 150px auto;
  width: 100vw;
}
.changePassword-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.changePassword-title {
  color: #555;
}
.changePassword-alert_msg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.changePassword-alert_msg h2{
  font-size: 12px;
  color: red;
  margin: 4px 0;
}
#changePassword-alert_msg h2{
  color: #f09308;
}
.changePassword-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.changePassword-inputs,
.changePassword-submit_btn {
  padding: 15px 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
  border-radius: 4px;
  outline: 0;
}
.changePassword-inputs:hover,
.changePassword-submit_btn:hover {
  border-bottom: 3px solid #f09308;
  transition: all 0.5s;
}
.changePassword-submit_btn {
  font-weight: 900;
  color: #f09308;
  cursor: pointer;
}
.changePassword-change_password {
  color: #f09308;
}
@media (max-width: 940px) {
  .changePassword-contents {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 620px) {
  .changePassword-title {
    color: #ccc;
  }
}
@media (max-width: 320px) {
  .changePassword-wrapper {
    margin-left: -16px;
  }
}
