.routesIndex-wrapper {
  display: flex;
  align-items: center;
  margin-left: 200px;
  max-width: 82.6vw;
}
@media (max-width: 768px) {
  .routesIndex-wrapper {
      margin-left: -200px;
      margin: 50px auto;
  }
}
