.footerWrapper {
  background-color: #f09308;
  max-width: 85.5%;
  min-height: fit-content;
  margin-left: 200px;
  padding: 10px 0;
}
.footerContents-flex {
  display: flex;
  color: #3f3f3f;
  align-items: center;
  justify-content: space-evenly;
}
.headerGF-kitchen {
  text-decoration: none;
  color: #3f3f3f;
}
.footerContents-flex_1,
.footerContents-flex_2,
.footerContents-flex_3 {
  color: #3f3f3f;
}
.footerLinks {
  text-decoration: none;
  color: #3f3f3f;
  font-size: 14px;
}
.footerMd-link,
.footerCompany {
  text-decoration: none;
  color: #3f3f3f;
  font-size: 14px;
}
.footerContents-flex_need, .footerContents-flex_contact, .footerContents-flex_rights{
  font-size: 14px;
}

@media (max-width: 768px) {
  .footerWrapper {
    min-width: 100%;
    margin-left: 0;
    margin: 0 auto;
  }
}
