/* AboutUs.css */
.aboutUs-wrapper {
  height: 80vh;
  padding-top: 10rem;
}

.aboutUs-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aboutUs-content {
  @apply px-[1rem];
  flex: 1;
}

.aboutUs-title {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.aboutUs-details {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-height: 32px;
}

.aboutUs-link {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: #f09308;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.aboutUs-link:hover {
  background-color: #f07308;
  transition: all 0.3s ease-in-out;
}

.aboutUs-content2_content {
  text-align: center;
}

.aboutUs-content2_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.aboutUs-content2_name {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.aboutUs-content2_price {
  font-size: 1rem;
  color: #666;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .aboutUs-wrapper {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 5rem;
  }
  .aboutUs-content {
    flex-basis: 100%;
  }

  .aboutUs-content2_content {
    margin: 5rem 0;
  }

  .aboutUs-content2_img {
    width: 100px;
    height: 100px;
  }

  .aboutUs-content2_name {
    font-size: 1rem;
  }

  .aboutUs-content2_price {
    font-size: 0.9rem;
  }
}
