.aboutUs-wrapper{
    margin: 100px auto;
    margin-bottom: -200px;
}
.aboutUs-contents{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.aboutUs-content1{
    display: flex;
    width: 400px;
    flex-direction: column;
    padding: 0 auto;
    min-height: 100vh;
    margin-left: -125%;
}
.aboutUs-title {
    color: #555;
    background-color: #ddd;
    min-width: fit-content;
    width: 200px;
    height: 35px;
    border-radius: 2px;
    margin: 0 120px;
    text-align: center;
    font-size: 24px;
    padding: 2px 5px;
    margin-left: 60px;
}
.aboutUs-details{
    font-size: 24px;
    color: #555;
    width: 150%;
    padding: 40px 50px;
    border-radius: 10px;
}
.aboutUs-content2{
    height: 300px;
    width: 250px;
    margin-top: -70px;
    border: 3px solid #f09308;
    border-radius: 5px;
}