/* Page Layout */
.homeWrapper {
  background-color: #f5f5f5;
  padding: 20px;
  padding-top: 0;
}

.homeContents {
  max-width: 1200px;
  margin: 0 auto;
}

/* Section Styles */

/* Home Content Section */
.homeContent {
  margin-top: 20px;
}

.homeContent1-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.homeContent1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Dish Type Section */
.homeContent1-div {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.homeDish-arrow {
  cursor: pointer;
  font-size: 24px;
  color: #f09308;
  padding: 4px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.homeDish-arrow:hover {
  margin-left: 2px;
}

.homeContent-title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.homeContent-img_name {
  text-align: center;
}

.homeDish-img {
  width: 100%;
  max-height: 250px;
  min-height: 250px;
  border-radius: 8px;
}

.homeDish-name {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

/* Our Dishes Section */
.homeContent2 {
  margin-top: 40px;
}

.homeContent2-title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.homeContent-div_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.home-content {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-img {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  border-radius: 8px;
}

.home-ditch_name {
  font-size: 20px;
  margin-top: 10px;
  color: #333;
}

.home-ditch_origin,
.home-ditch_price {
  margin-top: 5px;
  color: #777;
}

.home-ditch_btnsDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.home-more_btn,
.home-buy_btn {
  background-color: #f09308;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.home-more_btn:hover,
.home-buy_btn:hover {
  background-color: #f07308;
  transition: all 0.3s ease-in-out;
}

.ourKitchen-link {
  text-decoration: none;
  color: #ffffff;
}

/* Customer Feedback Section */
.homeContent3 {
  margin-top: 40px;
}

/* Media Queries */

/* Small devices (phones) */
@media (max-width: 576px) {
  .homeContent1-div,
  .home-content {
    flex-basis: 100%;
  }
  .homeContent-div2 {
    grid-template-columns: 1fr;
  }
  .homeContent-div_content {
    grid-template-columns: 1fr;
  }
}
/* Medium devices (tablets) */
@media (min-width: 577px) and (max-width: 992px) {
  .homeContent1-div,
  .home-content {
    flex-basis: calc(50% - 10px);
  }
  .homeContent-div_content {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops) */
@media (min-width: 993px) {
  .homeContent1-div,
  .home-content {
    flex-basis: calc(33.33% - 15px);
  }
}
