.homeWrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.homeContent1-title {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Lobster", cursive;
  color: #f09308;
}
.homeContent1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #323232;
  width: 104%;
  min-height: 100%;
}
.homeContent1-div {
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 60px 0;
  padding-left: 80px;
}
.homeDish-arrow {
  color: #f09308 !important;
  font-size: 30px !important;
  cursor: pointer;
  margin: 10px;
}
.homeContent-flex {
  display: flex;
  width: 200px;
  height: 300px;
  min-height: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeContent-title {
  font-size: 18px;
  color: #f09308;
  font-family: "Lobster", cursive;
  margin-bottom: 20px;
}
.homeDish-img {
  width: 230px;
  height: 230px;
  margin: 10px 0;
  border-radius: 5px;
}
.homeDish-name {
  font-size: 16px;
  color: #f2f2f2;
  margin: 8px 0;
  text-align: center;
}
.homeContent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  width: 104%;
  padding: 40px 0;
  padding-bottom: 80px;
}
.homeContent2-title {
  font-family: "Lobster", cursive;
  font-size: 18px;
  color: #f09308;
}
.homeContent-div_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 250px;
  background-color: #f09308;
  margin: 30px;
}
.home-img {
  width: 100%;
  height: 70%;
  border-radius: 4px;
  margin-top: -35px;
}
.home-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #f2f2f2;
  margin-top: 20px;
}
.home-ditch_name {
  font-size: 16px;
  background-color: #f09308;
  color: #f2f2f2;
}
.home-ditch_origin {
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
}
.home-ditch_price {
  font-size: 12px;
  background-color: #f2f2f2;
  font-weight: 700;
  color: #f09308;
}
.home-ditch_btnsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}
.home-more_btn {
  background-color: #f09308;
  color: #f2f2f2;
  font-weight: 700;
  width: 50px;
  height: 20px;
  border: 1px solid #f2f2f2;
  margin: 2px;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
}
.home-more_btn:hover {
  padding-left: 10px;
  font-size: 10px;
  transition: all 0.3s;
}
@media (max-width: 980px) {
  .homeContent-div_content {
    grid-template-columns: 1fr 1fr;
  }
  .home {
    width: 225px;
  }
}
@media (max-width: 875px) {
  .homeContent1-div{
    padding-left: 10px;
  }
  .homeDish-img {
    width: 190px;
    height: 190px;
  }
  .homeDish-arrow{
    margin-left: -10px;
  }
}
@media (max-width: 620px) {
  .homeContent2 {
    background-color: #323232;
  }
}
@media (max-width: 600px) {
  .homeContent1 {
    grid-template-columns: 1fr;
  }
  .homeContent-div_content {
    grid-template-columns: 1fr;
  }
  .homeContent1-div{
    padding-left: 40px;
  }
  .homeDish-arrow{
    margin-left: 10px;
  }
  .homeDish-img {
    width: 230px;
    height: 230px;
  }
}
@media (max-width: 375px) {
  .homeWrapper {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .homeContent1-div{
    padding-left: 25px;
  }
}
