.homeWrapper{
    min-height: 55vh;
}
.homeConntents{
    margin: 0 62%;
}
.homeConntents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeContent1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100%;
}
.homeContent1-div{
    background-color: #fff;
}
.homeContent-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f09308;
    margin: 20px;
    border-radius: 5px;
    padding: 20px 10px;
}
.homeDish-arrow{
    color: #f2f2f2 !important;
    cursor: pointer;
    font-size: 22px !important;
}
.homeDish-arrow:hover{
    font-size: 24px !important;
}
.homeContent-flex{
    border-radius: 5px;
    width: 200px;
    height: 270px;
    background-color: #fff;
}
.homeContent-title{
    padding: 10px;
    font-size: 20px;
    color: #f09308;
}
.homeContent-img_name{
    padding: 10px;
    padding-top: 50px;
 
}
.homeDish-img{
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
}
.homeDish-name{
    padding: 2px;
    font-size: 20px;
    color: #555;
}
@media screen and (max-width: 1100px){
    .homeConntents{
        margin: 0 65%;
    }
    .homeContent-flex{
        width: 150px;
        height: 200px;
    }
    .homeContent-title{
        padding: 10px;
        font-size: 14px;
    }
    .homeContent-img_name{
        padding: 5px;
        padding-top: 30px;
     
    }
    .homeDish-img{
        width: 100%;
        height: 100px;
    }
    .homeDish-name{
        font-size: 16px;
    } 
}
@media screen and (max-width: 940px){
    .homeConntents{
        margin: 0 69%;
    }
    .homeContent-flex{
        width: 100px;
        height: 150px;
    }
    .homeContent-title{
        padding: 5px;
        font-size: 10px;
    }
    .homeContent-img_name{
        padding: 2px;
        padding-top: 30px;
     
    }
    .homeDish-img{
        width: 100%;
        height: 80px;
    }
    .homeDish-name{
        font-size: 12px;
    } 
}
@media screen and (max-width: 768px){
    .homeConntents{
        margin: 40px auto;
    }
    .homeContent-flex{
        width: 140px;
        height: 150px;
    }
    .homeContent-title{
        padding: 5px;
        font-size: 12px;
    }
    .homeContent-img_name{
        padding: 2px;
        padding-top: 20px;
     
    }
    .homeDish-img{
        width: 100%;
        height: 100px;
    }
    .homeDish-name{
        padding: 5px;
        font-size: 12px;
    } 
}
@media screen and (max-width: 690px){
    .homeContent1{
        display: grid;
        grid-template-columns: 1fr;
    }
    .homeContent-flex{
        width: 220px;
        height: 280px;
    }
    .homeContent-title{
        padding: 5px;
        font-size: 12px;
    }
    .homeContent-img_name{
        padding: 2px;
        padding-top: 20px;
     
    }
    .homeDish-img{
        width: 100%;
        height: 200px;
    }
    .homeDish-name{
        padding: 5px;
        font-size: 12px;
    } 
}