.forgotPassword-wrapper{
    margin-top: 40px;
    min-height: 50vh;
}
.forgotPassword-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.forgotPassword-title{
    color: #555;
}
.forgotPassword-form{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.forgotPassword-inputs, .forgotPassword-submit_btn{
    padding: 15px 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 4px;
    outline: 0;
}
.forgotPassword-inputs:hover, .forgotPassword-submit_btn:hover{
    border-bottom: 3px solid #f09308;
    transition: all .5s;
}
.forgotPassword-submit_btn{
    font-weight: 900;
    color: #f09308;
    cursor: pointer;
}
.forgotPassword-change_password{
    color: #f09308;
}
@media (max-width: 940px) {
    .forgotPassword-wrapper{
        margin: 40px auto;
    }
    .forgotPassword-contents{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}