.adminWrapper{
    margin: 70px 7%;
    width: 100vw;
    height: 75vh;
}
.adminContents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.adminLogin{
    margin-left: -30%;
}
.adminDish-img{
    width: 200px;
    height: 200px;
    border-radius: 4%;
}
@media (max-width: 320px) {
    .adminLogin{
        margin-left: -19%;
    }
}