.adminWrapper {
  margin: 70px 7%;
  width: 100vw;
  height: fit-content;
}
.adminContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adminContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.adminContents-div {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 12px solid #f09308;
}
.adminHeading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #555;
  font-family: "Lobster", cursive;
  margin-left: 80px;
}
.adminDetails-div {
  display: flex;
  flex-direction: column;
  background-color: #f09308;
  border-radius: 5px;
  padding: 20px 30px;
  width: 100%;
}
.adminDetail-heading,
.adminDetail-name,
.adminDetail-email {
  font-size: 18px;
  font-weight: 600;
  color: #323232;
}
.adminDetails-content2 {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px 30px;
  margin-left: 20px;
  padding-top: 20px;
  width: 100%;
}
.adminDetails-content2_heading {
  font-size: 20px;
  color: #555;
}
.adminDetails-content2_details {
  font-size: 16px;
  margin-top: 20px;
  color: #928e8e;
  width: 320px;
}
.adminOrders-alert{
  font-size: 16px;
  color: #f09308;
  font-weight: 550;
  margin-top: 50px;
}
.adminDetail-heading {
  margin-bottom: 10px;
}
.adminDetail-name,
.adminDetail-email {
  color: #555;
  font-size: 16px;
}
.adminLogin {
  margin-left: -30%;
}
.adminDashboard-heading{
  font-size: 20px;
  font-weight: 600;
  color: #555;
  font-family: "Lobster", cursive;
  margin-bottom: 10px;
  text-align: center;
}
.adminDashboard-div {
  display: flex;
  background-color: #555;
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 20px;
  
}
.adminDashboard-flex_col{
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adminDashboard-flex_heading{
  color: #f09308;
}
.adminDashboard-flex_data{
  color: #f2f2f2;
  background-color: #f09308;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 7px;
  border-radius: 50%;
}

.adminDish-heading {
  font-size: 18px;
  font-weight: 600;
  color: #555;
  font-family: "Lobster", cursive;
  margin-bottom: 10px;
}
.adminDish-div {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 4px 20px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-top: 10px;
}
.adminDish-div1,
.adminDish-div2 {
  margin: 5px;
}
.adminDish-div1 {
  color: #f2f2f2;
  padding: 3px 7px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.adminDish-img {
  width: 70px;
  height: 40px;
  border-radius: 4%;
}
.adminDish-name {
  font-size: 10px;
  color: #f2f2f2;
}
.adminDish-price {
  font-size: 8px;
  color: #555;
}
.adminDish-plates {
  font-size: 12px;
  color: #323232;
  margin: 4px 0;
}
.adminDish-totalPrice {
  font-size: 12px;
  color: #555;
}
.adminDish-name {
  font-size: 12px;
  margin: 4px 0;
  color: #555;
}
.adminDish-time {
  font-size: 10px;
  color: #f09308;
  margin-bottom: 4px;
}
.adminDish-btn {
  border: 1px solid #f09308;
  color: #f09308;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 8px;
  font-weight: 600;
  cursor: pointer;
  font-weight: 900;
}
.adminDish-btn:hover {
  font-size: 9px;
  font-weight: 900;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.adminDish-pagination {
  margin-top: 70px;
}
@media (max-width: 1100px) {
  .adminContents-div {
    width: 615px;
  }
  .adminContent {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .adminDish-heading {
    margin-top: 70px;
  }
  .adminDish {
    margin-top: 20px;
    width: 615px;
  }
}
@media (max-width: 940px) {
  .adminContents-div {
    width: 450px;
  }
  .adminDish {
    margin-top: 20px;
    width: 450px;
  }
}
@media (max-width: 768px) {
  .adminWrapper {
    margin: 70px auto;
    width: 100%;
  }
}
@media (max-width: 620px) {
  .adminDish-pagination {
    margin-top: 140px;
  }
  .adminHeading {
    font-size: 18px;
    color: #f09308;
  margin-left: 0;
  text-align: center;
  }
  .adminDish-heading {
    font-size: 18px;
    text-align: center;
    color: #f09308;
  }
}
@media (max-width: 480px) {
  .adminContents-div {
    width: 300px;
  }
  .adminDetails-content2_details {
    font-size: 14px;
    width: 250px;
  }
  .adminDashboard{
    width: 300px;
    margin: 0 auto;
  }
  .adminHeading {
    margin-left: 0;
    text-align: center;
  }
  .adminDish {
    width: 300px;
    margin: 0 auto;
  }
  .adminDetails-content2_heading {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .adminLogin {
    margin-left: -19%;
  }
}