.App {
  background-color: #f2f2f2;
}
.appCart-away {
  position: fixed;
  top: 65px;
  right: 0;
}
.sidebarRouter {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.appBack-btn {
  position: fixed;
  margin-top: -100px;
}
@media (max-width: 620px) {
  .App {
    background-color: #323232;
  }
}
