.sidebarWrapper {
  max-width: 200px;
  min-height: 100%;
  box-shadow: 0.1px 0.5px 2px #212121;
  color: #555;
  left: 0;
  top: 58px;
  border-top: 1px solid #f09308;
  background-color: #fff;
  position: fixed;
}
.sidebarContents1, .sidebarContents2{
  font-size: 20px;
}
.sidebarContents1, .sidebarServices-lists_title{
  color: #f09308;
  text-shadow: none;
  margin-bottom: 10px;
}
.sidebarContents {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  padding: 0 45px;
  padding-top: 40px;
  text-align: center;
  font-size: 16px;
}
.sidebarServices{
  text-shadow: none;
  line-height: 30px;
  cursor: pointer;
  font-weight: 600;
}
.sidebarServices-list{
  border-bottom: none;
}
.sidebarServices-list:hover{
  border-bottom: 3px solid #f09308;
  transition: all 0.3s;
}
.sidebarServices-link{
  text-decoration: none;
  color: #555;
}
.sidebarLocation-contents{
  background-color: #555;
  padding: 5px 0;
  border-radius: 3px;
  color: #f2f2f2;
  width: 190px;
  padding: 12px 15px;
  min-height: fit-content;
  min-width: fit-content;
}
.sidebarLocation-lists_title{
  color: #f09308;
}
.sidebarLocation-content{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 90%;
}
.sidebarLocation-arrow{
  color: #f09308 !important;
  font-size: 18px !important;
  cursor: pointer;
}
.sidebarLocation-num{
  color: #f2f2f2;
  font-size: 10px;
  background-color: #f09308;
  border-radius: 50%;
  padding: 5px;
}
.sidebarLocation-content2{
  padding-left: 20px;
}
@media (max-width: 940px) {
  .sidebarWrapper {
    border-top: none;
  }
}
@media screen and (max-width: 768px) {
  .sidebarWrapper {
    display: none;
  }
}
